## Test MICE

In [1]:
library(mice)
#library(dummies)
library(lattice)

In [2]:
dat <- read.csv('../miscsv/703-5-emptied.csv')
dat$X <- NULL

for(c in c('X81A','X90A','X143A')) {
    dat[[c]] <- as.factor(dat[[c]])
}

mdat <- mice(dat)

 iter imp variable
  1   1  X81A  X90A  X143A
  1   2  X81A  X90A  X143A
  1   3  X81A  X90A  X143A
  1   4  X81A  X90A  X143A
  1   5  X81A  X90A  X143A
  2   1  X81A  X90A  X143A
  2   2  X81A  X90A  X143A
  2   3  X81A  X90A  X143A
  2   4  X81A  X90A  X143A
  2   5  X81A  X90A  X143A
  3   1  X81A  X90A  X143A
  3   2  X81A  X90A  X143A
  3   3  X81A  X90A  X143A
  3   4  X81A  X90A  X143A
  3   5  X81A  X90A  X143A
  4   1  X81A  X90A  X143A
  4   2  X81A  X90A  X143A
  4   3  X81A  X90A  X143A
  4   4  X81A  X90A  X143A
  4   5  X81A  X90A  X143A
  5   1  X81A  X90A  X143A
  5   2  X81A  X90A  X143A
  5   3  X81A  X90A  X143A
  5   4  X81A  X90A  X143A
  5   5  X81A  X90A  X143A

In [5]:
mdat

Multiply imputed data set
Call:
mice(data = dat)
Number of multiple imputations:  5
Missing cells per column:
 X81A  X90A X143A
    2     2     1
Imputation methods:
     X81A      X90A     X143A
"polyreg" "polyreg" "polyreg"
VisitSequence:
 X81A  X90A X143A
    1     2     3
PredictorMatrix:
      X81A X90A X143A
X81A     0    1     1
X90A     1    0     1
X143A    1    1     0
Random generator seed value:  NA

In [6]:
mdat$imp

$X81A
    1 2 3 4 5
68  7 7 1 1 4
149 5 1 4 1 1

$X90A
    1 2 3 4 5
327 2 1 3 4 1
392 2 2 5 3 1

$X143A
    1 2 3 4 5
48 15 3 1 1 2

should be:
    - 143A :  4
    - 81A:  7, 2
    - 90A; 2, 2

Not Bad. Let's try a proper test:

In [7]:
dat50 <- read.csv('../miscsv/703-removed-50.csv')
dat50$X <- NULL
for(c in c('X81A','X90A','X143A')) {
    dat50[[c]] <- as.factor(dat50[[c]])
}
mdat50 = mice(dat50)

 iter imp variable
  1   1  X81A  X90A  X143A
  1   2  X81A  X90A  X143A
  1   3  X81A  X90A  X143A
  1   4  X81A  X90A  X143A
  1   5  X81A  X90A  X143A
  2   1  X81A  X90A  X143A
  2   2  X81A  X90A  X143A
  2   3  X81A  X90A  X143A
  2   4  X81A  X90A  X143A
  2   5  X81A  X90A  X143A
  3   1  X81A  X90A  X143A
  3   2  X81A  X90A  X143A
  3   3  X81A  X90A  X143A
  3   4  X81A  X90A  X143A
  3   5  X81A  X90A  X143A
  4   1  X81A  X90A  X143A
  4   2  X81A  X90A  X143A
  4   3  X81A  X90A  X143A
  4   4  X81A  X90A  X143A
  4   5  X81A  X90A  X143A
  5   1  X81A  X90A  X143A
  5   2  X81A  X90A  X143A
  5   3  X81A  X90A  X143A
  5   4  X81A  X90A  X143A
  5   5  X81A  X90A  X143A

In [10]:
mdat50$imp

$X81A
    1 2 3 4 5
44  1 2 3 2 1
72  2 3 2 2 1
95  1 1 1 1 1
104 2 1 1 1 2
163 2 4 2 2 2
215 5 2 1 7 2
241 1 1 1 1 1
316 2 1 2 2 1
443 1 1 7 2 1
559 2 2 1 2 2
604 2 1 2 7 2
632 2 2 1 2 2
638 1 1 1 1 1
643 1 1 1 1 1
644 1 1 7 7 1
696 3 1 3 1 7

$X90A
    1 2 3 4 5
39  1 1 1 1 1
47  2 2 2 2 3
101 1 7 1 1 7
160 1 5 7 1 1
200 2 1 1 2 2
203 3 2 7 2 1
242 1 1 1 1 1
259 1 1 1 1 6
347 1 1 1 1 1
383 1 1 1 1 1
386 2 1 1 1 1
416 1 4 7 1 1
441 1 1 1 1 1
443 7 1 1 1 2
491 1 1 1 1 3
511 1 1 1 1 1
521 2 2 2 2 2
634 2 1 2 1 4
638 3 2 1 2 2
674 1 1 1 1 1
699 1 1 7 1 1

$X143A
     1  2  3  4  5
168  1  1  2  1  2
221  1  1 15  1  7
317  2 15  1  1  4
331  1  1  1  1  1
343  1  1  2  2  1
405  4  4  1  4  2
454  1  1  4  1  1
468  4  2  1 14  2
490  8  3  4  1  1
548  1  1  1  3 14
607  4  1  1  1  1
626 15  2  1  8 15
683 15  1  2  2  1

In [11]:
orig = read.csv('../miscsv/removed50-original.csv')

In [12]:
origs = c()
imputed = c()
for(f in c('81A','90A','143A')) {
    origs <- c(origs, orig[(orig$feature==f),'original_value'])
    imputed <- c(imputed,as.numeric(mdat50$imp[[paste('X',f,sep="")]][,5]))
}

In [13]:
origs

 [1]  1  1  1  1  1  7  2  2  3  7  2  2  1  4  1  1  1  3  1  2  1  1  1  7  1
[26]  1  2  1  1  1  1  1  1  2  1  1  2  3  1 14 14  1  4  1  3  4  6  1  1  3

In [14]:
imputed

 [1]  1  1  1  2  2  2  1  1  1  2  2  2  1  1  1  7  1  3  7  1  2  1  1  6  1
[26]  1  1  1  1  2  3  1  2  4  2  1  1  2  7  4  1  1  2  1  2  1 14  1 15  1

In [16]:
hamming(origs,imputed)

ERROR: Error in hamming(origs, imputed): could not find function "hamming"

### Not so briliant after all

In [14]:
mdat502 = mice(dat50,method=c("lda","lda","lda"))

 iter imp variable
  1   1  X81A  X90A  X143A
  1   2  X81A  X90A  X143A
  1   3  X81A  X90A  X143A
  1   4  X81A  X90A  X143A
  1   5  X81A  X90A  X143A
  2   1  X81A  X90A  X143A
  2   2  X81A  X90A  X143A
  2   3  X81A  X90A  X143A
  2   4  X81A  X90A  X143A
  2   5  X81A  X90A  X143A
  3   1  X81A  X90A  X143A
  3   2  X81A  X90A  X143A
  3   3  X81A  X90A  X143A
  3   4  X81A  X90A  X143A
  3   5  X81A  X90A  X143A
  4   1  X81A  X90A  X143A
  4   2  X81A  X90A  X143A
  4   3  X81A  X90A  X143A
  4   4  X81A  X90A  X143A
  4   5  X81A  X90A  X143A
  5   1  X81A  X90A  X143A
  5   2  X81A  X90A  X143A
  5   3  X81A  X90A  X143A
  5   4  X81A  X90A  X143A
  5   5  X81A  X90A  X143A

In [15]:
imputed2 = c()
for(f in c('X81A','X90A','X143A')) {
    imputed2 <- c(imputed2,as.numeric(mdat502$imp[[f]][,5]))
}
imputed2

 [1]  3  2  1  2  7  5  1  2  2  2  2  1  1  1  1  1  1  3  1  1  2  2  1  1  1
[26]  1  1  1  1  1  1  1  2  2  3  1  1  1  1  4  2  1  4  1  1  1  4  1  1 15

In [17]:
cor(origs,imputed2)

[1] 0.2099921

In [18]:
cor(imputed2,imputed)

[1] 0.01624941

In [20]:
mdat503 = mice(dat50,method=c("polr","polr","polr"))

 iter imp variable
  1   1  X81A  X90A  X143A
  1   2  X81A  X90A  X143A
  1   3  X81A  X90A  X143A
  1   4  X81A  X90A  X143A
  1   5  X81A  X90A  X143A
  2   1  X81A  X90A  X143A
  2   2  X81A  X90A  X143A
  2   3  X81A  X90A  X143A
  2   4  X81A  X90A  X143A
  2   5  X81A  X90A  X143A
  3   1  X81A  X90A  X143A
  3   2  X81A  X90A  X143A
  3   3  X81A  X90A  X143A
  3   4  X81A  X90A  X143A
  3   5  X81A  X90A  X143A
  4   1  X81A  X90A  X143A
  4   2  X81A  X90A  X143A
  4   3  X81A  X90A  X143A
  4   4  X81A  X90A  X143A
  4   5  X81A  X90A  X143A
  5   1  X81A  X90A  X143A
  5   2  X81A  X90A  X143A
  5   3  X81A  X90A  X143A
  5   4  X81A  X90A  X143A
  5   5  X81A  X90A  X143A

In [21]:
imputed3 = c()
for(f in c('X81A','X90A','X143A')) {
    imputed3 <- c(imputed3,as.numeric(mdat503$imp[[f]][,5]))
}
imputed2

 [1]  3  2  1  2  7  5  1  2  2  2  2  1  1  1  1  1  1  3  1  1  2  2  1  1  1
[26]  1  1  1  1  1  1  1  2  2  3  1  1  1  1  4  2  1  4  1  1  1  4  1  1 15

In [22]:
cor(origs,imputed3)

[1] -0.01053583

In [24]:
cor(imputed3,imputed)

[1] 0.2441469

In [25]:
cor(imputed2,imputed3)

[1] 0.1512798